<% content_for :title, "Editing attraction" %>

<h1>Editing attraction</h1>

<%= render "form", attraction: @attraction %>

<br>

<div>
  <%= link_to "Show this attraction", @attraction %> |
  <%= link_to "Back to attractions", attractions_path %>
</div>
